# Ignore video files
*.mp4
*.dav

# Ignore macOS system files
.DS_Store

# Ignore machine learning model files
*.h5
*.pkl
*.model

# Ignore Python cache files and folders
__pycache__/
*.py[cod]

# Ignore virtual environments
env/
venv/
.venv/
